* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}


/* Nav */

nav {
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 1;
}

nav li {
    list-style: none;
    float: left;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    color: black;
}

nav li a:hover {
    text-shadow: 1px 1px grey;
}

/* Fine Nav */


/* Main */

.box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
text-transform: uppercase;
}

.box img {
    width: 90%;
}
    
#section1 {
    position: relative;
    height: 100vh;
    background-color: red;
    color: yellow;
}

#section2 {
    position: relative;
    height: 100vh;
    background-color: green;
    color: yellow;
}

#section3 {
    position: relative;
    height: 100vh;
    background-color: yellow;
    color: green;
}

/* Fine main */